:root {
    --main-color: #4c2f6f;
    --secondary-color: #e7c8e7;
    --font-family: 'alk-sanet', sans-serif;
}
@font-face {
    font-family: 'alk-sanet';
    src: url('fonts/alk-sanet.ttf');
}
@font-face {
    font-family: 'geo-hakuna';
    src: url("fonts/SS-GEO-HAKUNA.otf");
    font-weight: bold;
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    font-family: var(--font-family);
}


.tale-body {
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 0.5rem;
    height: 82vh;
    width: 95vw;
    margin: auto;
    text-align: left;
    padding: 1rem;
    position: relative;
}


.cartoon-image {
    border-radius: 10px;
    border: 2px solid var(--main-color);
    display: block;
    max-width: 100%;
}

#next-button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    margin: 0.7rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    width: 5rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
}