:root {
    --main-color: #4c2f6f;
    --secondary-color: #e7c8e7;
}
@font-face {
    font-family: 'alk-sanet';
    src: url('fonts/alk-sanet.ttf');
}

body {
    background-color: var(--main-color);
    color: var(--secondary-color);
    text-align: center;
    font-family: 'alk-sanet', serif;
}

.tale-body {
    background-color: var(--secondary-color);
    color: var(--main-color);
    height: 82vh;
    width: 90vw;
    margin: auto;
    text-align: left;
    padding: 10px;
}

.cartoon-image {
    border-radius: 10px;
    border: 2px solid var(--main-color);
}